[submodule "tasks/task2_stack/policy/drqv2"]
	path = tasks/task2_stack/policy/drqv2
	url = https://github.com/facebookresearch/drqv2.git
[submodule "tasks/task2_stack/policy/GPT-as-Policy"]
	path = tasks/task2_stack/policy/GPT-as-Policy
	url = https://github.com/anonymous-report-421/GPT-as-Policy.git
